In [1]:
import os
import sys
import pandas as pd
import numpy as np

In [2]:
scripts_path = os.path.abspath(os.path.join('../scripts'))
if scripts_path not in sys.path:
    sys.path.insert(0,scripts_path)

In [3]:
df = pd.read_csv('../data/2018.csv')

In [4]:
df

,event_id,origintime,magnitude,magnitude_source,max_mmi,latitude,longitude,depth_km,err_lat,err_lon,err_depth,err_origintime,state,county,status
0,0,2018-01-01 01:43:55,2.0,OGS,0,36.880480,-97.927090,5.953,0.30,0.40,0.70,0.34,None,GRANT,None
1,0,2018-01-01 03:39:47,1.9,OGS,0,36.880650,-97.931490,5.602,0.70,0.70,1.60,0.38,None,GRANT,None
2,0,2018-01-01 04:06:26,1.9,OGS,0,36.845090,-97.703160,7.647,0.60,0.60,1.40,0.44,None,GRANT,None
3,0,2018-01-01 05:29:18,2.0,OGS,0,36.150520,-97.668760,5.000,0.30,0.40,0.80,0.35,None,LOGAN,None
4,0,2018-01-01 05:46:00,2.3,OGS,0,36.152550,-97.658960,5.345,0.30,0.30,0.80,0.39,None,LOGAN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,4412,2018-12-30 19:42:21,2.1,OGS,None,36.263050,-97.184258,3.510,4.58,2.00,2.49,0.7722337,Oklahoma,Noble,Reviewed
2678,4060,2018-12-30 23:51:51,2.0,OGS,None,36.230167,-97.939167,2.940,0.35,0.35,1.40,None,Oklahoma,Garfield,Reviewed
2679,4169,2018-12-31 07:22:29,2.6,OGS,None,35.941667,-96.728667,6.040,0.21,0.21,0.40,None,Oklahoma,Payne,Reviewed
2680,4096,2018-12-31 09:30:56,2.7,OGS,None,35.674000,-97.390000,5.860,0.14,0.14,0.40,None,Oklahoma,Oklahoma,Reviewed
2681,4229,2018-12-31 22:35:03,2.3,OGS,None,35.941667,-96.729833,6.180,0.21,0.21,0.40,None,Oklahoma,Payne,Reviewed

In [5]:
df["origintime"] = pd.to_datetime(df["origintime"])
df.sort_values("origintime")

,event_id,origintime,magnitude,magnitude_source,max_mmi,latitude,longitude,depth_km,err_lat,err_lon,err_depth,err_origintime,state,county,status
0,0,2018-01-01 01:43:55,2.0,OGS,0,36.880480,-97.927090,5.953,0.30,0.40,0.70,0.34,None,GRANT,None
1,0,2018-01-01 03:39:47,1.9,OGS,0,36.880650,-97.931490,5.602,0.70,0.70,1.60,0.38,None,GRANT,None
2,0,2018-01-01 04:06:26,1.9,OGS,0,36.845090,-97.703160,7.647,0.60,0.60,1.40,0.44,None,GRANT,None
3,0,2018-01-01 05:29:18,2.0,OGS,0,36.150520,-97.668760,5.000,0.30,0.40,0.80,0.35,None,LOGAN,None
4,0,2018-01-01 05:46:00,2.3,OGS,0,36.152550,-97.658960,5.345,0.30,0.30,0.80,0.39,None,LOGAN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,4412,2018-12-30 19:42:21,2.1,OGS,None,36.263050,-97.184258,3.510,4.58,2.00,2.49,0.7722337,Oklahoma,Noble,Reviewed
2678,4060,2018-12-30 23:51:51,2.0,OGS,None,36.230167,-97.939167,2.940,0.35,0.35,1.40,None,Oklahoma,Garfield,Reviewed
2679,4169,2018-12-31 07:22:29,2.6,OGS,None,35.941667,-96.728667,6.040,0.21,0.21,0.40,None,Oklahoma,Payne,Reviewed
2680,4096,2018-12-31 09:30:56,2.7,OGS,None,35.674000,-97.390000,5.860,0.14,0.14,0.40,None,Oklahoma,Oklahoma,Reviewed
2681,4229,2018-12-31 22:35:03,2.3,OGS,None,35.941667,-96.729833,6.180,0.21,0.21,0.40,None,Oklahoma,Payne,Reviewed

In [6]:
df[(df["origintime"] >= "2018-04-09 10:00:00") & (df["origintime"] <= "2018-04-10 10:00:00")]

,event_id,origintime,magnitude,magnitude_source,max_mmi,latitude,longitude,depth_km,err_lat,err_lon,err_depth,err_origintime,state,county,status
734,0,2018-04-09 10:22:20,4.0,OGS,6,36.21847,-97.57350,4.274,0.2,0.3,0.8,0.33,None,GARFIELD,None
735,0,2018-04-09 11:05:28,1.9,OGS,0,36.21376,-97.55272,6.744,0.3,0.3,1.0,0.35,None,GARFIELD,None
736,0,2018-04-09 12:33:19,1.9,OGS,0,35.38129,-98.09020,5.000,0.7,0.7,1.8,0.33,None,CANADIAN,None
737,0,2018-04-09 12:33:19,1.9,OGS,0,35.37896,-98.08983,3.575,0.9,0.7,2.1,0.37,None,CANADIAN,None
738,0,2018-04-09 14:04:43,2.9,OGS,0,36.21164,-97.55554,3.587,0.2,0.3,0.8,0.33,None,GARFIELD,None
739,0,2018-04-09 18:37:00,2.4,OGS,0,36.32548,-97.53697,4.454,0.3,0.3,0.9,0.36,None,GARFIELD,None
740,0,2018-04-09 19:14:01,2.2,OGS,0,36.42793,-96.92060,5.510,0.3,0.4,0.5,0.38,None,PAWNEE,None
741,0,2018-04-09 19:51:26,2.0,OGS,0,36.33742,-97.59342,6.483,0.3,0.4,1.2,0.41,None,GARFIELD,None
742,0,2018-04-09 20:30:20,2.2,OGS,0,36.21499,-97.55621,3.452,0.3,0.3,1.0,0.37,None,GARFIELD,None
743,0,2018-04-09 21:26:41,2.8,OGS,0,36.72215,-99.37740,3.138,0.6,0.7,0.9,0.29,None,HARPER,None